<!-- adds h1, good seo, and a heading for the page! -->
<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
    } %>
  
  <!-- displays error messages -->
  <%- messages() %>
  
  <div class="management-links">
    <a href="/inv/addclass">Add New Classification</a>
    <a href="/inv/addvehicle">Add New Vehicle</a>
  </div>